<p> My thing is a dog sled.  Dog sleds, in conjuction with a team, are used as transportation in cold, snowy climates.  When designing a dog sled it pays to keep in mind that you want minimal contact area.  Even though the friction coefficient between synthetic materials and snow is quite low any reduction in surface area will enable a dog team to pull a sled faster and longer. </p>
